################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/umflib/.vs/umflib/v17
/umflib/x64/Debug
/.overview.md.swp
/.vs/umf/v17
/umf/_build
/umf
/umflib/.vs/umflib/v16
/.vs/umf/FileContentIndex
/.vs/umf/v17
/umflib/.vs/umflib/FileContentIndex
