################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/umflib/.vs/umflib/v17
/umflib/x64/Debug
/.overview.md.swp
