body {
    /*max-width: 40em;*/
    margin:  2em;
    /*text-align: left;*/
	/*padding: 1em; */
	font-family: 'Noto Sans', "Segoe UI", 'Calisto','IBM Plex Serif', 'Cambria', Georgia, serif, 'Times New Roman';
	font-size: 110%;
	font-weight: 400; 
	line-height: 120%;
	/*color: #565656; */
}
details {
    margin-left: 1em;
    color: #008080;
}
details > summary {
	margin-bottom: 10px;
}
.katex {
    font-size: 100% !important;
}
